version: "3.9"

services:
  db:
    image: postgres:15
    container_name: async-task-platform-design-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 2s
      retries: 10

  api:
    build: .
    container_name: async-task-platform-design-api
    ports:
      - "3000:3000"
    env_file: 
      - .env
    depends_on:
      db:
        condition: service_healthy

  worker:
    build: .
    container_name: async-task-platform-design-worker
    command: node worker.js
    env_file: 
      - .env
    depends_on:
      db:
        condition: service_healthy
